<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Neustadt.fr</title>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Karla:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,700,400italic,300italic,700italic' rel='stylesheet'>
	<link rel="stylesheet" href="css/neustadt.css" type="text/css" media="screen">
  </head>
  <body>
    <div id="wrapper">

      <header class="home">
        <a href="#">{{ sitetitle }}</a><span class="rubrique"></span>
      </header>

	  <ul class="recent">
    {{#each essays}}
	  	<li>
	  		<span class="date">{{ date }}  &mdash; {{ type }}</span>
			<span class="title"><a href="{{ this.path }}">{{ title }}</a></span>
	  	</li>
    {{/each}}
	  </ul>


  <footer>
    &mdash; <br>
    <p>Parimal Satyal is a Paris-based designer who loves singlespeed bicycles, Bavarian beer, vegetarian food, metal music and foreign languages. <a href="#">More&ndash;</a></p>
    <p><strong>Neustadt.fr</strong> is his collection of <a href="#">essays</a>, <a href="#">reviews</a> and <a href="#">music</a>. </p>
  </footer>
</div>
</body>
</html>
