{{> header }}
      <header class="home">
        <a href="/">{{ site.name }}</a><span class="rubrique">/music</span>
      </header>

      <article class="an-article">
        <div class="meta">
          <h1>{{ title }}</h1>
          <span>All songs written, performed and recorded by <a href="/about">Parimal Satyal</a>, unless otherwise noted.</span>
          <p>
            {{ blurb }}
          </p>
        </div>

        <h2 id="the-machine-stops">The Machine Stops</h2>
  <p>
  	<a class="song" onclick="playPause(this)"><audio><source src="/music/ParimalSatyal_TheMachineStops.mp3" type="audio/mpeg"></audio></a>
  	Based on a 1909 science-fiction <a href="http://archive.ncsa.illinois.edu/prajlich/forster.html">short story by E. M. Forster</a> that anyone using the Internet should read. I originally wrote this song when I was about 15 for a school assignment. It&#39;s	since seen <a href="#">many versions</a> and has <a href="#">even been covered</a>. I recorded this softer version in 2012 in Northampton, MA.</p>

  <span class="emdash">&mdash;</span>

  <h2 id="navigate-the-seas-of-the-sun">Navigate the Seas of the Sun</h2>
  <p>
  	<a class="song" onclick="playPause(this)"><audio src="/music/ParimalSatyal_NavigatetheSeasoftheSun.mp3"></audio></a>
  	A cover of a song from <a href="https://en.wikipedia.org/wiki/Bruce_Dickinson">Bruce Dickinson</a>&#39;s solo album <em>Tyranny of Souls</em>. I really like the lyrics. The guitar solo is improvised. Recorded in 2015 in Paris.</p>

  <span class="emdash">&mdash;</span>

  <h2 id="il-tait-une-fois">Il était une fois</h2>
  <p>
  	<a class="song" onclick="playPause(this)"><audio src="/music/ParimalSatyal_Iletaitunefois.mp3"></audio></a>
  	Inspired by <em>Midnight in Paris</em> and Yann Tiersen&#39;s music to <em>Le fabuleux destin d&#39;Amélie Poulain</em>. My only song involving an accordian. Recorded in 2012 in Northampton, MA.</p>

  <span class="emdash">&mdash;</span>
  <!-- ## To Hell with Heaven

  A short, heavy instrumental headbanger. Drums recorded by [William J Barnes](https://www.youtube.com/watch?v=IKROC4-W2c4) and generously put on YouTube for anyone to use (thanks!). Recorded in 2015 in Paris.

  <span class="emdash">&mdash;</span> -->
  <h2 id="vita-morte-e-miracoli">Vita, morte e miracoli</h2>
  <p>
  	<a class="song" onclick="playPause(this)"><audio><source  src="/music/ParimalSatyal_Vitamorteemiracoli.mp3" type="audio/mpeg"></audio></a>
  	In Italian, <em>sapere vita, morte e miracoli di qualcuno</em> is to know everything there is to know about someone. I actually use this as my morning alarm on my iPhone. Recorded in 2012 in Paris.</p>

  <span class="emdash">&mdash;</span>

  <h2 id="dreams-to-illusions">Dreams to Illusions</h2>
  <p>
  	<a class="song" onclick="playPause(this)"><audio><source src="/music/ParimalSatyal_DreamstoIllusions.mp3" type="audio/mpeg"></audio></a>
  	<em>Dreams to Illusions</em> was once described as &quot;power-game music.&quot; It started with my wanting to make background music for a video game so that&#39;s not too bad a description. Recorded in 2008 in Kathmandu.</p>

  <span class="emdash">&mdash;</span>
  <h2 id="threads-of-time">Threads of Time</h2>
  <p>
  	<a class="song" onclick="playPause(this)"><audio><source src="/music/ParimalSatyal_ThreadsofTime.mp3" type="audio/mpeg"></audio></a>
  	Darker and a lot tamer than what I&#39;m used to writing. The actual reason <em>Threads of Time</em> isn&#39;t very heavy is because my amp simulator wasn&#39;t producing very good sounds at all at that particular time. Recorded in 2007 in Kathmandu.</p>

  <p> <span class="emdash">&mdash;</span></p>
  <h2 id="age-of-mist">Age of Mist</h2>
  <p>
  	<a class="song" onclick="playPause(this)"><audio><source src="/music/ParimalSatyal_AgeofMist.mp3" type="audio/mpeg"></audio></a>
  	A mid-tempo instrumental about longing, not knowing, accepting, flowing. Recorded in 2007 in Kathmandu.</p>

  <span class="emdash">&mdash;</span>
  <h2 id="return-of-the-ghost">Return of the Ghost</h2>
  <p>
  	<a class="song" onclick="playPause(this)"><audio><source src="/music/ParimalSatyal_ReturnoftheGhost.mp3" type="audio/mpeg"></audio></a>
  	A raw, heavy, head-bangable instrumental with two guitar solos and a keyboard solo. Recorded in 2012 in Northampton, MA.</p>

  <span class="emdash">&mdash;</span>
  <h2 id="influenced-virtuality">Influenced Virtuality</h2>
  <p>
  	<a class="song" onclick="playPause(this)"><audio><source src="/music/ParimalSatyal_InfluencedVirtuality.mp3" type="audio/mpeg"></audio></a>
  	This one was originally a poem I wrote that I then wrote a song around, back when I was in high school. I was listening to this one song called <em>Alas de Fuego</em> by a Spanish metal band called &#39;Tierra Santa&#39; and I think the solo has some of that vibe. Recorded in 2006 in Kathmandu.</p>

  <span class="emdash">&mdash;</span>
  <!-- ## Iron Eagle

  This one I recorded with my friend [Sushant Rai](#) after having watched this really cheesy 80s movie called Iron Eagle about a kid who flies a fighter jet (unauthorized, of course) to save his father who is a prisoner of war in Afghanistan.

  <audio controls>
    <source src="/music/" type="audio/mpeg">
    [Download audio file](#)
  </audio>

  <span class="emdash">&mdash;</span> -->
  <h2 id="fallen">Fallen</h2>
  <p>
  	<a class="song" onclick="playPause(this)"><audio><source src="/music/ParimalSatyal_SushantRai_Fallen.mp3" type="audio/mpeg"></audio></a>
  	A fun collaboration with <em>Sushant Rai</em>, with whom I share guitar and vocal duties. This one&#39;s a super simple 4-chord song that tells the unfortunate story of a village of valiant (but misguided) warriors under enemy siege.</p>
  <!--
  <span class="emdash">&mdash;</span>


  ## In My Life

  A Beatles cover in collaboration with my brother [Parag Satyal](#). He plays the guitar and I take care of vocals and the keyboard solo.

  <audio controls>
    <source src="/music/" type="audio/mpeg">
    [Download audio file](#)
  </audio>
  -->
  <script type="text/javascript">
    function playPause(elmnt) {
      if (elmnt.firstChild.paused) {
        elmnt.firstChild.play();
        elmnt.style.backgroundColor = "red";
        elmnt.style.backgroundImage = "url('/img/pause.png')"
      } else {
        elmnt.firstChild.pause();
        elmnt.style.backgroundColor = "white";
        elmnt.style.backgroundImage = "url('/img/play.png')"
      }
    }
  </script>
{{> footer }}
