/*
Fonts

Thanks to FontSquirrel.com for font conversion and to:
  - Jonathan Pinhorn for Karla,
  - Claus Eggers Sørensen for Playfair Display
  - Eben Sorkin for Merriweather
*/


/* Karla */

@font-face {
    font-family: 'Karla';
    src: url('../fonts/karla/karla-bold-webfont.eot');
    src: url('../fonts/karla/karla-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/karla/karla-bold-webfont.woff2') format('woff2'),
         url('../fonts/karla/karla-bold-webfont.woff') format('woff'),
         url('../fonts/karla/karla-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('../fonts/karla/karla-bolditalic-webfont.eot');
    src: url('../fonts/karla/karla-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/karla/karla-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/karla/karla-bolditalic-webfont.woff') format('woff'),
         url('../fonts/karla/karla-bolditalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Karla';
    src: url('../fonts/karla/karla-italic-webfont.eot');
    src: url('../fonts/karla/karla-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/karla/karla-italic-webfont.woff2') format('woff2'),
         url('../fonts/karla/karla-italic-webfont.woff') format('woff'),
         url('../fonts/karla/karla-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Karla';
    src: url('../fonts/karla/karla-regular-webfont.eot');
    src: url('../fonts/karla/karla-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/karla/karla-regular-webfont.woff2') format('woff2'),
         url('../fonts/karla/karla-regular-webfont.woff') format('woff'),
         url('../fonts/karla/karla-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* Playfair Display */

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('../fonts/playfairdisplay/playfairdisplay-regular-webfont.eot');
    src: url('../fonts/playfairdisplay/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay/playfairdisplay-regular-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay/playfairdisplay-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('../fonts/playfairdisplay/playfairdisplay-bold-webfont.eot');
    src: url('../fonts/playfairdisplay/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay/playfairdisplay-bold-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay/playfairdisplay-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


/* Merriweather */

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/merriweather/merriweather-lightitalic-webfont.eot');
    src: url('../fonts/merriweather/merriweather-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/merriweather/merriweather-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/merriweather/merriweather-lightitalic-webfont.woff') format('woff'),
         url('../fonts/merriweather/merriweather-lightitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'merriweather';
    src: url('../fonts/merriweather/merriweather-bolditalic-webfont.eot');
    src: url('../fonts/merriweather/merriweather-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/merriweather/merriweather-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/merriweather/merriweather-bolditalic-webfont.woff') format('woff'),
         url('../fonts/merriweather/merriweather-bolditalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/merriweather/merriweather-bold-webfont.eot');
    src: url('../fonts/merriweather/merriweather-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/merriweather/merriweather-bold-webfont.woff2') format('woff2'),
         url('../fonts/merriweather/merriweather-bold-webfont.woff') format('woff'),
         url('../fonts/merriweather/merriweather-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/merriweather/merriweather_light-webfont.eot');
    src: url('../fonts/merriweather/merriweather_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/merriweather/merriweather_light-webfont.woff2') format('woff2'),
         url('../fonts/merriweather/merriweather_light-webfont.woff') format('woff'),
         url('../fonts/merriweather/merriweather_light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/merriweather/merriweather_light-webfont.eot');
    src: url('../fonts/merriweather/merriweather_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/merriweather/merriweather_light-webfont.woff2') format('woff2'),
         url('../fonts/merriweather/merriweather_light-webfont.woff') format('woff'),
         url('../fonts/merriweather/merriweather_light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* end Fonts */
