html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')
    title= 'Home'
  body
    each essay in collections.essays
      essay.content-essay
        header
          span.timestamp= moment(essay.date).format('D MMM, [\']YY').toLowerCase()
          h2
            a(href='/' + essay.path)= essay.title
