<!DOCTYPE html>
<!--
For more information on this website, check out https://neustadt.fr/about or free to get in touch: parimal[snail]neustadt[.]fr 

Bonne journée !
 -->
<html {{#if language}}lang="{{language}}"{{else}}lang="en"{{/if}}>
  <head>
  <meta charset="utf-8">
  <title>{{#if title}}{{ title }} - {{/if}}{{ site.name }} </title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="keywords" content="{{ site.keywords }}, {{#if keywords}}{{ keywords }},{{/if}}{{#if type}}{{ type }}{{/if}}"/>
  <meta name="description" content="{{#if blurb}}{{ blurb }}{{else}}{{#if description}}{{ description }}{{else}}{{ site.description }}{{/if}}{{/if}}" />
  <meta name="author" content="{{ site.author }}">
  <meta name="referrer" content="never" />
  {{#if img}}<meta property="og:image" content="/{{ img }}" />{{/if}}
  <link rel="stylesheet" href="/css/neustadt.css" type="text/css" media="all">

  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="shortcut icon" href="/favicon.ico">
  {{#if highlighting}}<link rel="stylesheet" href="/js/highlight/styles/tomorrow-night-eighties.css">{{/if}}
  </head>
  <body>
    <div id="wrapper">
