<!DOCTYPE html>
<!--
Hi.

I'm keeping the HTML output clean. I like code that's structured and easy to read.
For more information on this website, check out http://neustadt.fr/about or free
to get in touch: parimal[snail]neustadt[.]fr

Bonne journée !

Cheers
Parimal
 -->
<html {{#if language}}lang="{{language}}"{{else}}lang="en"{{/if}}>
  <head>
  <meta charset="utf-8">
  <title>{{#if title}}{{ title }} - {{/if}}{{ site.name }} </title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="keywords" content="{{#if keywords}}{{ keywords }},{{/if}}{{#if type}}{{ type }},{{/if}} {{ site.keywords }}" />
  <meta name="description" content="{{#if blurb}}{{ blurb }}{{else}}{{#if description}}{{ description }}{{else}}{{ site.description }}{{/if}}{{/if}}" />
  <meta name="author" content="{{ site.author }}">
  <meta name="referrer" content="never" />
  {{#if img}}<meta property="og:image" content="http://parimalsatyal.github.io/{{ img }}" />{{/if}}
  <link rel="stylesheet" href="/css/neustadt.css" type="text/css" media="all">

	<link rel="stylesheet" href="//brick.a.ssl.fastly.net/Karla:400,400i,700, 700i"> 
 	<link rel="stylesheet" href="//brick.a.ssl.fastly.net/Merriweather:200,200i,400,400i,700,700i">
	<link rel="stylesheet" href="//brick.a.ssl.fastly.net/Alegreya:400,400i,700,700i">  
 

  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="shortcut icon" href="/favicon.ico">
  {{#if highlighting}}<link rel="stylesheet" href="/js/highlight/styles/tomorrow-night-eighties.css">{{/if}}
  </head>
  <body>
    <div id="wrapper">
